.divMenu {
  font-size: 20px;
}

.divMenu ul {
  width: 500px;
  display: flex;
  flex-direction: row;
  justify-content: end;
  list-style-type: none;
}

.divMenu ul li a {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
  padding: 12px 24px;
  color: white;
}

.divMenu ul li a:hover {
  text-decoration: underline;
  font-style: italic;
  padding: 12px 24px;
  color: white;
}
