.cardsContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 32px;
  width: 90%;
  height: 360px;
  margin: 32px auto;
  align-items: center;
  justify-items: center;
}

.card {
  position: relative;
  border-radius: 16px;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.2);
  width: 210px;
  height: 290px;
  color: #fff;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  overflow: hidden;
  background-color: #222;
  transition: transform 0.2s;
}
.card:hover {
  transform: scale(1.03);
}
.cardContent {
  width: 100%;
  padding: 16px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 90%, transparent 100%);
  position: absolute;
  bottom: 0;
  left: 0;
}
.cardContent h3 {
  margin: 0 0 8px 0;
  font-size: 1rem;
}
.cardContent p {
  margin: 0;
  font-size: 0.75rem;
  color: #ccc;
}

.truncated {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  transition: max-height 0.2s;
  max-height: 4.5em; /* Aproximadamente 3 linhas */
}

.expanded {
  display: block;
  overflow: visible;
  cursor: pointer;
  max-height: none;
}
