.divHeader {
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  font-size: 14px;
}

.divRaposa {
  width: 260px;
  text-align: start;
}
.imgRaposa {
  width: 250px;
}

.imgLogo {
  width: 450px;
  height: 125px;
}

.divLogo {
  width: 450px;
  text-align: center;
}
.divMenu {
  font-size: 20px;
  width: 260px;
}
