.footer {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #141414;
  color: #fff;
  text-align: center;
  padding: 0rem 0;
  margin: 0;
  z-index: 100;
  font-size: 0.95rem;
}

.icones {
  margin-left: 5px;
  margin-right: 5px;
}
