.divSearch {
  color: #625959;
  font-size: 19px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.divSearch input {
  background-image: url(Vector.png);
  background-repeat: no-repeat;
  background-position: left;
  background-position: 15px;
  background-size: 5%;
  padding-left: 45px;
  color: #625959;
  margin-top: 36px;
  border: none;
  border-radius: 37px;
  width: 450px;
  height: 45px;
  background-color: #1e1e1e;
}
