* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #141414 !important;
  color: #fff !important;
  width: 100%;
  height: 100dvh;
  display: flex;
  flex-direction: column;
}
